Source: io.github.ellie-commons.wingpanel-indicator-onething
Section: x11
Priority: optional
Maintainer: Stella <teamcons.carrd.co>
Build-Depends: debhelper (>= 10.5.1),
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libwingpanel-dev,
               meson (>= 0.58),
               valac (>= 0.40.0)
Standards-Version: 1.0.0
Homepage: https://github.com/ellie-commons/wingpanel-indicator-onething
Package: io.github.ellie-commons.wingpanel-indicator-onething
Architecture: any
Version: 1.0.0
Depends: io.elementary.wingpanel
Enhances: io.elementary.wingpanel
Description: Wingpanel Indicator onething
 Simply display some text in the elementary OS top bar
