Package: io.github.ellie-commons.wingpanel-indicator-simplethings
Version: 1.0.0
Maintainer: Stella <teamcons.carrd.co>
Architecture: all
Depends:  libglib2.0-dev, libgtk-3-dev,libgranite-dev, libwingpanel-dev, meson,valac
Enhances: io.elementary.wingpanel
Homepage: https://github.com/ellie-commons/wingpanel-indicator-simplethings
Description: Wingpanel Indicator SimpleThings
 Simply display some text in the elementary OS top bar
